{% extends 'base.html.twig' %}

{% block title %}Édition du projet - {{ project.title }}{% endblock %}

{% block body %}
    <h1>Édition du projet - {{ project.title }}</h1>

    {{ include('project/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <br>
    <a href="{{ path('user_edit', {'email': app.user.email}) }}">Retour à mon compte</a>
    <hr>
    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
