{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{asset('uploads/projects/' ~ project.picture)}}" alt="{{ project.title }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1>{{ project.title }}</h1>
            <div class="bg-light rounded p-2">
                {% for category in project.categories  %}
                    <span class="badge badge-pill badge-primary" title="Catégorie">
                    <i class="fa fa-tag"></i>
                      {{ category.label }}
                </span>
                {% endfor %}

                <span class="badge badge-pill badge-secondary" title="Ville">
                    <i class="fa fa-map-marker"></i>
                    {{ project.city }}
                </span>
                <span class="badge badge-pill badge-info" title="Date de proposition">
                    <i class="fa fa-calendar"></i>
                    Proposé le {{ project.createdAt|date('m/d/Y')}}
                </span>
                <span class="badge badge-pill badge-warning" title="Coût du projet">
                    <i class="fa fa-euro"></i>
                    {{ project.cost|number_format(0, '', ' ')}}
                </span>
            </div>
            <p>{{ project.description }}</p>
        </div>
    </div>

    <hr>
    {% if app.user %}
        <form class="bg-light rounded p-2" method="post">
            {% include 'comment/new.html.twig' %}
        </form>
    {% else %}
        <h3> Identifiez vous ou créer un compte pour pouvoir laisser un commentaire.</h3>
    {% endif %}




    <section class="list-group mt-4">
        {% for comment in project.comments  %}
            <article class="list-group-item bg-light">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.title }}</h5>
                    <small>Posté le {{ comment.createdAt|format_datetime(locale='fr')}} par {{ comment.user.firstname ~' '~ comment.user.lastname}}</small>
                </div>
                <p class="mb-1"></p>
                <small>{{ comment.content }}</small>
            </article>
        {% endfor %}
    </section>



{% endblock %}
